*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: sans-serif;
    background-image: url(https://images.pexels.com/photos/861440/pexels-photo-861440.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 10px 20px;
    color: white;
 
}

.logo{
 font-size: 20px;
 text-transform: capitalize;
 letter-spacing: 1px;
}
.navbar{
    display: flex;
    margin: 4px;
}
.navbar li a:hover{
    color: green;
}